<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHello" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:54321/Binding/Hello" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHello" contract="BindingSvc.Hello.IHello"
                name="NetTcpBinding_IHello">
                <identity>
                    <userPrincipalName value="TLMX-20130304IZ\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>